@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
.container{
    margin: auto;
}
section{
    padding:  2rem 0;
    margin: 0 10px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover !important;
}
.btn_active{
    background: #EF4444 !important;
    transition: all 0.3s;
    color: white !important;
}